body {
    background-color: darkslategray;
    display: grid;
    grid-template-rows: 200px 50px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 5px;
    
}

header {
    background-image: url("https://images.unsplash.com/photo-1552197680-0223a9065fa3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: auto;
    background-color: darkslategray;
    background-repeat: no-repeat;
    grid-row: 1;
    grid-column: 1 /span 3;
    text-align: center;
    border: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

h1{
    font-size: 100px;
    grid-row: left;
    grid-column: auto;
    color: black;
}

nav{
    background-color: darkslategray;
}

a {
    padding: 70px;
    height: 70px;
    width:70px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    font-weight: bold;
    justify-content: right;
    border-radius: 10%;
    margin: 20px 120px;
 }

.information {
    background-image: url("https://images.unsplash.com/photo-1545418543-13cac00f971c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: red;
    grid-row: 3;
}

 #p1 {
    background-image: url("https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/72244041_380828819537820_6445527463433863168_n.jpg?_nc_cat=107&_nc_ohc=E5rRhSAneyUAQnbmjc9Wofq2gdFJyP2A4A2m5tB2i59RZgr0I7VSiy6RQ&_nc_ht=scontent-dfw5-2.xx&oh=feb9ba528756002a8fcf431e4506f4b0&oe=5E4F5565"); 
    background-color: orangered;
     grid-row: 3;
 }
 
 #p2 {
    background-image: url("https://images.unsplash.com/photo-1517249361621-f11084eb8e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: yellow;
    grid-row: 3;
}

#p3 {
    background-image: url("https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/67938296_343059436648092_2179671614679941120_n.jpg?_nc_cat=101&_nc_ohc=8HBGQ9Miv98AQlphM0dQMORSloC_yBNnT_LSLed_3qDkB0rBsiAooEVnA&_nc_ht=scontent-dfw5-2.xx&oh=a387a25357463938632607f383c828d5&oe=5E536FBE");
    background-color: green;
    grid-row: 4;
}

#p4{
    background-image: url("https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/72691093_385231625764206_3578626103180263424_n.jpg?_nc_cat=110&_nc_ohc=JaLk_JdTkhcAQlABw3EUIkJZKxKV5wY1tUdqOx8SW-hPNjMGRxvQAm1mQ&_nc_ht=scontent-dfw5-2.xx&oh=02eba959fad26034a889d2890f50f4bc&oe=5E8344E2");
    background-color: blue;
    color: green;
    grid-row: 4;
}

.contact {
    grid-row: 4;
    background-image: url("https://images.unsplash.com/photo-1526566762798-8fac9c07aa98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: darkviolet;
}


/* ABOUT ME SPECIFIC*/

#pic {
    background-image: url("https://images.unsplash.com/photo-1571834870678-24294e1ecf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: rgb(23, 199, 23);
    width: 300px;
    height: 400px;
    grid-column: 1;
    margin: 10px 70px;
}